<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>EnhanceHdr_Level</string>
		<key>CategoryNum</key>
		<integer>4</integer>
		<key>iconName</key>
		<string>Level</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Level</string>
			<key>zh-Hant</key>
			<string>層次調節</string>
			<key>zh-Hans</key>
			<string>层次调节</string>
			<key>th</key>
			<string>ปรับระดับ</string>
		</dict>
		<key>Minimun</key>
		<integer>-1</integer>
		<key>Maximun</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceSharpen_sharpness</string>
		<key>CategoryNum</key>
		<integer>3</integer>
		<key>iconName</key>
		<string>sharpness</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Sharpness</string>
			<key>zh-Hans</key>
			<string>清晰度</string>
			<key>zh-Hant</key>
			<string>清晰度</string>
			<key>th</key>
			<string>ความละเอียด</string>
		</dict>
		<key>Minimun</key>
		<integer>0</integer>
		<key>Maximun</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceBase_Temperature</string>
		<key>CategoryNum</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>Temperature</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Temperature</string>
			<key>zh-Hans</key>
			<string>色温</string>
			<key>zh-Hant</key>
			<string>色溫</string>
			<key>th</key>
			<string>อุณหภูมิ</string>
		</dict>
		<key>Minimun</key>
		<integer>-100</integer>
		<key>Maximun</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceBase_Hue</string>
		<key>CategoryNum</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>Hue</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Tint</string>
			<key>zh-Hans</key>
			<string>色调</string>
			<key>zh-Hant</key>
			<string>色調</string>
			<key>th</key>
			<string>สีสรร</string>
		</dict>
		<key>Minimun</key>
		<integer>-100</integer>
		<key>Maximun</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceBase_Exposure</string>
		<key>CategoryNum</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>Exposure</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Exposure</string>
			<key>zh-Hans</key>
			<string>曝光度</string>
			<key>zh-Hant</key>
			<string>曝光度</string>
			<key>th</key>
			<string>เอกซ์โพเชอร์</string>
		</dict>
		<key>Minimun</key>
		<integer>-5</integer>
		<key>Maximun</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceBase_Contrast</string>
		<key>CategoryNum</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>Contrast</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Contrast</string>
			<key>zh-Hans</key>
			<string>对比度</string>
			<key>zh-Hant</key>
			<string>對比度</string>
			<key>th</key>
			<string>ความคมชัด</string>
		</dict>
		<key>Minimun</key>
		<integer>-100</integer>
		<key>Maximun</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceBase_Vibrance</string>
		<key>CategoryNum</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>Vibrance</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Vibrance</string>
			<key>zh-Hans</key>
			<string>鲜艳度</string>
			<key>zh-Hant</key>
			<string>鮮艷度</string>
			<key>th</key>
			<string>ความสดใส</string>
		</dict>
		<key>Minimun</key>
		<integer>-100</integer>
		<key>Maximun</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceBase_Saturation</string>
		<key>CategoryNum</key>
		<integer>0</integer>
		<key>iconName</key>
		<string>Saturation</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Saturation</string>
			<key>zh-Hans</key>
			<string>饱和度</string>
			<key>zh-Hant</key>
			<string>飽和度</string>
			<key>th</key>
			<string>ความอิ่มตัว</string>
		</dict>
		<key>Minimun</key>
		<integer>-100</integer>
		<key>Maximun</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceHSL_Highlight</string>
		<key>CategoryNum</key>
		<integer>1</integer>
		<key>iconName</key>
		<string>Highlight</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Highlight</string>
			<key>zh-Hans</key>
			<string>高光</string>
			<key>zh-Hant</key>
			<string>高光</string>
			<key>th</key>
			<string>ไฮไลท์</string>
		</dict>
		<key>Minimun</key>
		<string>-100</string>
		<key>Maximun</key>
		<string>100</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceHSL_Shadow</string>
		<key>CategoryNum</key>
		<integer>1</integer>
		<key>iconName</key>
		<string>Shadow</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Shadow</string>
			<key>zh-Hans</key>
			<string>阴影</string>
			<key>zh-Hant</key>
			<string>陰影</string>
			<key>th</key>
			<string>เงา</string>
		</dict>
		<key>Minimun</key>
		<integer>-100</integer>
		<key>Maximun</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceVignette_vignetteStrong</string>
		<key>CategoryNum</key>
		<integer>2</integer>
		<key>iconName</key>
		<string>vignetteStrong</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Vignette</string>
			<key>zh-Hans</key>
			<string>暗角</string>
			<key>zh-Hant</key>
			<string>暗角</string>
			<key>th</key>
			<string>วิกเน็ต</string>
		</dict>
		<key>Minimun</key>
		<integer>0</integer>
		<key>Maximun</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Key</key>
		<string>AdvanceVignette_centerStrong</string>
		<key>CategoryNum</key>
		<integer>2</integer>
		<key>iconName</key>
		<string>centerStrong</string>
		<key>categoryName</key>
		<dict>
			<key>en</key>
			<string>Center Light</string>
			<key>zh-Hans</key>
			<string>中心亮度</string>
			<key>zh-Hant</key>
			<string>中心亮度</string>
			<key>th</key>
			<string>ความสว่างจุดศูนย์</string>
		</dict>
		<key>Minimun</key>
		<integer>0</integer>
		<key>Maximun</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
