<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>Hue_Red</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>200</string>
			<key>G</key>
			<string>64</string>
			<key>B</key>
			<string>64</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>210</string>
			<key>G</key>
			<string>68</string>
			<key>B</key>
			<string>68</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>红</string>
			<key>zh-Hant</key>
			<string>紅</string>
			<key>en</key>
			<string>Red</string>
			<key>th</key>
			<string>สีแดง</string>
		</dict>
	</dict>
	<dict>
		<key>key</key>
		<string>Hue_Orange</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>224</string>
			<key>G</key>
			<string>115</string>
			<key>B</key>
			<string>61</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>232</string>
			<key>G</key>
			<string>122</string>
			<key>B</key>
			<string>67</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>橙</string>
			<key>zh-Hant</key>
			<string>橙</string>
			<key>en</key>
			<string>Orange</string>
			<key>th</key>
			<string>สีส้ม</string>
		</dict>
	</dict>
	<dict>
		<key>key</key>
		<string>Hue_Yellow</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>198</string>
			<key>G</key>
			<string>185</string>
			<key>B</key>
			<string>72</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>206</string>
			<key>G</key>
			<string>192</string>
			<key>B</key>
			<string>78</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>黄</string>
			<key>zh-Hant</key>
			<string>黃</string>
			<key>en</key>
			<string>Yellow</string>
			<key>th</key>
			<string>สีเหลือง</string>
		</dict>
	</dict>
	<dict>
		<key>key</key>
		<string>Hue_Green</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>71</string>
			<key>G</key>
			<string>156</string>
			<key>B</key>
			<string>75</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>78</string>
			<key>G</key>
			<string>165</string>
			<key>B</key>
			<string>82</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>绿</string>
			<key>zh-Hant</key>
			<string>綠</string>
			<key>en</key>
			<string>Green</string>
			<key>th</key>
			<string>สีเขียว</string>
		</dict>
	</dict>
	<dict>
		<key>key</key>
		<string>Hue_Cyan</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>71</string>
			<key>G</key>
			<string>172</string>
			<key>B</key>
			<string>161</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>79</string>
			<key>G</key>
			<string>182</string>
			<key>B</key>
			<string>171</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>青</string>
			<key>zh-Hant</key>
			<string>青</string>
			<key>en</key>
			<string>Cyan</string>
			<key>th</key>
			<string>สีไซแอน</string>
		</dict>
	</dict>
	<dict>
		<key>key</key>
		<string>Hue_Blue</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>62</string>
			<key>G</key>
			<string>124</string>
			<key>B</key>
			<string>185</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>69</string>
			<key>G</key>
			<string>133</string>
			<key>B</key>
			<string>196</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>蓝</string>
			<key>zh-Hant</key>
			<string>藍</string>
			<key>en</key>
			<string>Blue</string>
			<key>th</key>
			<string>สีฟ้า</string>
		</dict>
	</dict>
	<dict>
		<key>key</key>
		<string>Hue_Purple</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>129</string>
			<key>G</key>
			<string>83</string>
			<key>B</key>
			<string>171</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>139</string>
			<key>G</key>
			<string>93</string>
			<key>B</key>
			<string>182</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>紫</string>
			<key>zh-Hant</key>
			<string>紫</string>
			<key>en</key>
			<string>Violet</string>
			<key>th</key>
			<string>สีม่วง</string>
		</dict>
	</dict>
	<dict>
		<key>key</key>
		<string>Hue_Magenta</string>
		<key>ColorValueLight</key>
		<dict>
			<key>R</key>
			<string>180</string>
			<key>G</key>
			<string>82</string>
			<key>B</key>
			<string>160</string>
		</dict>
		<key>ColorValue</key>
		<dict>
			<key>R</key>
			<string>191</string>
			<key>G</key>
			<string>88</string>
			<key>B</key>
			<string>171</string>
		</dict>
		<key>CategoryName</key>
		<dict>
			<key>zh-Hans</key>
			<string>洋红</string>
			<key>zh-Hant</key>
			<string>洋紅</string>
			<key>en</key>
			<string>Magenta</string>
			<key>th</key>
			<string>สีม่วงแดง</string>
		</dict>
	</dict>
</array>
</plist>
